*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // This defines what 1rem is
  font-size: 62.5%; /* Same as 10px since default is 16px */
}

body {
  box-sizing: border-box;
}
